@using PersonalSite.Models
@using PersonalSite.Markdown

@{
    var education = Model;

    var now = EducationExtensions.GetNowDate();

    var startDate = education.GetStartDate();
    DateTime? endDate = education.GetEndDate();
}

<section class="mb-4" style="page-break-inside: avoid;">
        <h3 style="margin-top: 21px !important;">@education.School</h3>

        <p>@education.FieldOfStudy</p>

        <p class="text-muted meta">@startDate.Humanize(endDate) • @startDate.Humanize2(endDate)<br />@education.Location</p>

        @if(ShowMore) 
        {
            <div class="mb-5">
                <MarkdownView Content="@education.Description" />
            </div>
            
            if(education.Activities?.Any() ?? false)
            {
                <dl class="mt-4">
                    <dt>Activities</dt>
                    <dd><small>@string.Join(" · ", education.Activities)</small></dd>
                </dl>
            }

            @if(education.Courses?.Any() ?? false)
            {
                <dl class="mt-4">
                    <dt>Courses</dt>
                    <dd><small>@string.Join(" · ", education.Courses)</small></dd>
                </dl>
            }

            <div class="mt-5">
                <small><a href="#" @onclick="ToggleShowMore" @onclick:preventDefault><i class="fa fa-chevron-up me-1"></i> Show less</a></small>
            </div>
        }
        else 
        {
            var breakIndex = education.Description.IndexOf(".");
            if(breakIndex == -1)
            {
                breakIndex = education.Description.IndexOf("\n");
            }
            var content = breakIndex == -1 ? education.Description : education.Description.Substring(0, breakIndex + 1);

            <div class="mb-4">
                <MarkdownView Content="@content" />
            </div>
            
            <div class="mt-5">
                <small><a href="#" @onclick="ToggleShowMore" @onclick:preventDefault><i class="fa fa-chevron-down me-1"></i> Show more</a></small>  
            </div> 
        }
    </section>

@code {
    [Parameter]
    [EditorRequired]
    public Education Model { get; set;} = null!;

    [Parameter]
    public bool ShowMore { get; set; }

    void ToggleShowMore() 
    {
        ShowMore = !ShowMore;
    }
}