@using PersonalSite.Models
@using PersonalSite.Markdown

@{
    var experience = Model.experience;

    var now = ExperienceExtensions.GetNowDate();

    var startDate = experience.GetStartDate();
    DateTime? endDate = experience.GetEndDate();
}

@if(Model.isSub) 
{
    <p>
        @experience.EmploymentType

        @if(experience.Consultant) 
        {
            @if(experience.For is not null) 
            {
                <spa> with @experience.For</spa>
            }
        } 
    </p>
}
else 
{
    <p>
        <b>@experience.Company</b> • @experience.EmploymentType
        
        @if(experience.Consultant) 
        {
            @if(experience.For is not null) 
            {
                <spa> with @experience.For</spa>
            }
        } 
    
    </p>
}

<p class="mt-4 text-muted">@startDate.Humanize(endDate) • @startDate.Humanize2(endDate)<br />@experience.Location</p>

@if(ShowMore) 
{
    <div class="mb-4 pt-2">
        <MarkdownView Content="@experience.Description" />
    </div>
    
    <div class="mt-2 mb-4">
        <small><a href="#" @onclick="ToggleShowMore" @onclick:preventDefault><i class="fa fa-chevron-up me-1"></i> Show less</a></small>
    </div>
}
else 
{
   var breakIndex = experience.Description.IndexOf(".");
   if(breakIndex == -1)
   {
       breakIndex = experience.Description.IndexOf("\n");
   }
   var content = breakIndex == -1 ? experience.Description : experience.Description.Substring(0, breakIndex + 1);

    <div class="mb-4 pt-2">
        <MarkdownView Content="@content" />
   </div>

    <div class="mt-2 mb-4">
        <small><a href="#" @onclick="ToggleShowMore" @onclick:preventDefault><i class="fa fa-chevron-down me-1"></i> Show more</a></small>
    </div>
}

    @if(experience.Skills?.Any() ?? false)
    {
        <dl class="mt-4">
            <dt>Key skills</dt>
            <dd>
                @foreach (var skillName in experience.Skills)
                {
                    <div class="badge rounded-pill tag me-1 mb-1 text-decoration-none">
                        @skillName
                    </div>
                }
            </dd>
        </dl>
    }

@code {
    [Parameter]
    public bool ShowMore { get; set; }

    [Parameter]
    [EditorRequired]
    public Obj Model { get; set; }

    void ToggleShowMore() 
    {
        ShowMore = !ShowMore;

        StateHasChanged();
    }
}