@using PersonalSite.Models
@using PersonalSite.Markdown

@{
    var experience = Model.experience;

    var now = ExperienceExtensions.GetNowDate();

    var startDate = experience.GetStartDate();
    DateTime? endDate = experience.GetEndDate();
}

@if(Model.isSub) 
{
    <p>@experience.EmploymentType</p>
}
else 
{
    <p>@experience.Company • @experience.EmploymentType</p>
}

<p class="text-muted meta">@startDate.Humanize(endDate) • @startDate.Humanize2(endDate)<br />@experience.Location</p>

@if(ShowMore) 
{
    <MarkdownView Content="@experience.Description" />

    @if(experience.Skills?.Any() ?? false)
    {
        <dl class="mt-4">
            <dt>Skills</dt>
            <dd>@string.Join(", ", experience.Skills)</dd>
        </dl>
    }

    <small><a href="#" @onclick="ToggleShowMore" @onclick:preventDefault>Show less</a></small>
}
else 
{
    <small><a href="#" @onclick="ToggleShowMore" @onclick:preventDefault>Show more</a></small>
}

@code {
    [Parameter]
    public bool ShowMore { get; set; }

    [Parameter]
    [EditorRequired]
    public (Experience experience, bool isSub) Model { get; set; }

    void ToggleShowMore() 
    {
        ShowMore = !ShowMore;
    }
}