@using Microsoft.AspNetCore.Components.WebAssembly.Hosting;
@inject IWebAssemblyHostEnvironment HostEnv

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="col-12 col-xl-8 mx-auto p-3 py-md-5">
                <NotFound />
            </div>
        </LayoutView>
    </NotFound>
</Router>

@if (!HostEnv.IsDevelopment())
{
    <NavigationTracker />
}